@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;

  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

.search-form {
  width: 371px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 auto;
  padding-bottom: 32px;
}

input {
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  color: #2e2f42;
  border: 1px solid #4e75ff;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: transparent;
}

input:hover {
  border: 2px solid #808080;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background: #4e75ff;
  outline: none;
  border: none;

  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.gallery-item {
  border: 1px solid #8f9090;
  border-radius: 4px;
}

.gallery-figure {
  margin: 0;
}

.img-content-wrapper {
  padding-block: 4px;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.img-content-wrapper > li {
  color: #a7a8a8;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.img-content-wrapper > li > span {
  text-align: center;
  display: block;
  color: #a7a8a8;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.sl-wrapper {
  background-color: #2e2f42cc;
}

.sl-image img {
  border-radius: 4px 4px;
}

.sl-caption {
  border-radius: 0 0 4px 4px;
}

.sl-counter,
.sl-close,
.sl-prev,
.sl-next {
  color: #ffff !important;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: 'Loading...';
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
